@media (max-width: 2000px) {
    html {
        font-size: 15px;
    }

    .cv-ia .titulo {
        font-size: 2.85rem;
    }

    .cv-ia .txt-container {
        gap: 3rem;
    }
}

@media(max-width:1800px) {
    html {
        font-size: 13.6px;
    }

    .cabecalho {
        gap: 8rem;
    }

    .cabecalho nav ul {
        gap: 9rem;
    }

    .img-container img {
        max-width: 260px;
    }

    .cv-ia {
        margin-top: 500px;
    }

    .cv-ia .titulo {
        font-size: 3.2rem;
    }

    .txt-container {
        gap: 3.7rem !important;
    }
}

@media(max-width: 1650px) {
    html {
        font-size: 13px;
    }

    .section-banner {
        height: 650px;
    }

    .cabecalho {
        gap: 5rem;

        nav ul {
            gap: 7rem;
        }
    }

    .texto-banner .frase-banner {
        font-size: 1.6rem;
    }

    .texto-banner .link-btn {
        top: 60px;
        padding: 13px;
        border-radius: 15px;
    }

    .texto-banner .link-btn .cursor-btn{
        right: 6px;
        top: 6px;
    }

    .texto-banner .link-btn .icon{
        padding: 3px !important;
        max-width: 5px !important;
    }

    .card {
        max-width: 290px !important;
    }

    .card-esquerda {
        margin-left: 100px;
    }

    .card-direita {
        margin-right: 100px;
    }

    .card .img-container img {
        max-width: 260px;
    }

    .carrosel-container {
        margin-bottom: 100px;
    }

    .cv-ia {
        margin-top: 450px;
    }

    .cv-ia .titulo {
        font-size: 3.2rem;
    }

    .cv-ia .txt-container {
        gap: 4.2rem !important;
    }

    .cv-ia .txt-container p {
        width: 80%;
    }

    .cv-ia .img-container {
        right: 50px;
    }

}


@media (max-width:1440px) {
    .cabecalho{
        height:80px;
    }
    .cabecalho .img-logo {
        width: 100px;
    }

    .cabecalho li a {
        font-size: 13px;
    }

    .modal-login-cadastrar {
        width: 250px;
    }

    .section-banner {
        height: 550px;
    }

    .texto-banner .frase-banner {
        font-size: 1.5rem;
    }

    .texto-banner .link-btn {
        top: 60px;
        padding: 12.5px;
        font-size: 10px;
        border-radius: 12.5px;
    }

    .texto-banner .link-btn .cursor-btn {
        max-width: 15px;
        padding: 3px;
        right: 5px;
        top: 5px;
    }

    .texto-banner .link-btn .icon {
        margin-left: 15px;
    }

    .card {
        max-width: 255px !important;
    }

     .card .img-container img {
        width: 220px !important;
    }
    
    .card .titulo-card{
        font-size: 15px;
    }
    
    .titulo-card-menor{
        font-size: 11px !important;
    }
    .card .p-container p{
        font-size: 10px;
    }

    .card-esquerda {
        margin-left: 140px;
    }

    .card-direita {
        margin-right: 140px;
    }

    .cv-ia {
        margin-top: 400px;
    }

    .cv-ia .container {
        width: 890px;
    }

    .cv-ia .titulo {
        font-size: 2.8rem;
    }
    .cv-ia .img-container{
        top: 140px;
        right: 20px;
        padding: 20px;
    }
    .cv-ia .img-container img {
        max-width: 150px;
    }
    

    .img-container h5 {
        font-size: 1.3rem;
    }

    .img-container p {
        font-size: 0.7rem;
    }
    .cv-ia .txt-container{
        width: 70%;
        gap: 2.8rem !important;
    }
    .cv-ia .txt-container p {
        /* width: 90%; */
        font-size: 1.4rem;
    }
    .cv-ia .txt-container .link-btn{
        font-size: 15px;
        padding: 12px;
        border-radius: 10px;
    }
    .txt-container .link-btn .cursor-btn{
        right: 5px;
        top: 5px;
    }
    .txt-container .link-btn .cursor-btn{
        max-width: 20px;
        padding: 5px;
    }
    footer{
        height: 120px;
    }
    .logo-justificada-container img{
        width: 110px;
    }
    .redes-sociais a img{
        max-width: 25px;
    }
    .redes-sociais-container p{
        font-size: 10px;
    }
    .btn-topo{
        padding: 6px !important;
    }
    .btn-topo a{
        font-size: 1rem !important;
        padding-bottom: 1px !important;
    }
    .btn-e-dev-container a{
        font-size: 11px;
    }
    
}
