
@media(max-width: 625px){
    html{
    
        font-size: 10px;
    }
    .cabecalho{
        gap: 17rem !important;
    }
    .menu-tablet a{
        margin: 10px !important;
        
    }
    .menu-tablet .link{
        padding: 5px 0px;
    }
    .modal-login-cadastrar{
        transform: translateX(0px);
    }
    .section-banner{
        height: 600px;
    }
    .frase-banner{
        /* background-color: pink; */
        font-size: 1.2rem !important;
        text-wrap: nowrap;
    }
    .section-banner .link-btn .icon{
        margin-left: 8px;
    }
    .solucoes .titulo-solucoes{
        margin-top: 100px;
    }
    .col{
        padding: 20px !important;
       padding-left: 30px !important;
    }
    .card h4{
        font-size: 1.4rem !important;
    }
    .card p{
        font-size: 0.9rem !important;
    }
    .cv-ia{
        margin-top: 220px !important;
        justify-content: flex-start;
    }

    .cv-ia .container{
        width: 320px;
        margin-bottom: 120px;
    }
    .cv-ia .container{
        margin-left: 30px;
    }

    .cv-ia .titulo{
        font-size: 1.45rem;
        text-wrap: nowrap !important;
        margin:  20px 0;
    }

    .cv-ia .txt-container{
        gap: 1.7rem !important;
        /* background-color: pink; */
        width: 100%;
    }

    .cv-ia .txt-container p{
        font-size: 1.2rem;
        width: 100%;
    }

    .cv-ia .txt-container .link-btn{
        padding: 10px !important;
        font-size: 0.9rem;
        border-radius: 8px !important;
    }

    .cv-ia .link-btn .cursor-btn{
        padding: 3px !important;
        max-width: 16px;
    }

    .cv-ia .icon{
        margin-left: 20px;
    }

    .cv-ia .img-container{
        display: none;
        padding: 10px;
        right: 0 !important;
        top: 65px;
        border-radius: 8px !important;
    }
    .cv-ia .desativaConteudo{
        display: none;
    }

    .cv-ia .img-container img{
        max-width: 80px;
    }

    .cv-ia .img-container .titulo-cv{
        font-size: 0.9rem;
    }

    .cv-ia .img-container p{
        font-size: 0.7rem;
    }

    footer{
        flex-direction: column;
        gap: 2.5rem !important;
        height: fit-content;
    }
    
    footer .redes-sociais a img{
        max-width: 20px !important;
    }
    footer .redes-sociais-container p, .btn-e-dev-container .dev{
        font-size: 1rem;
    }
    .logo-justificada-container img{
        max-width: 100px !important;
    }
    .btn-topo{
        padding: 6px !important;
        border-radius: 5px !important;
    }
    .btn-topo a{
        font-size: 0.9rem !important;
        padding-bottom: 1px !important;
    }
    .btn-topo a img{
        max-width: 10px !important;
    }
    .btn-topo{  
        left: 50%;
        transform: translateX(-50%);
    }
}
