
footer {
    border-top: 2px solid var(--cor-azul-medio);
    padding: 30px;
    background-color: var(--cor-azul-escuro);
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    color: var(--cor-branco);
    font-family: var(--fonte-comfortaa);

    img {
        max-width: 150px;
    }
}

footer .logo-justificada-container {
    img {
        max-width: 150px;
    }
}

footer .redes-sociais-container {
    /* background-color: pink; */
    text-align: center;
}

.redes-sociais img {
    margin: 10px;
}

.redes-sociais a img {
    width: 35px;
}

.btn-e-dev-container .btn-topo {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 4px;

    box-shadow: 2px 2px 4px rgb(37, 66, 97);
    background: var(--cor-azul-claro);
    color: var(--cor-azul-escuro);
    font-family: var(--fonte-montserrat);
    font-weight: 600;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-topo a {
    /* top: 10px; */
    padding-bottom: 5px;
    font-size: 1.1rem;
}

.btn-e-dev-container img {
    max-width: 18px
}