
footer {
    border-top: 2px solid var(--cor-azul-medio);
    padding: 30px;
    background-color: var(--cor-azul-escuro);
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    color: var(--cor-branco);
    font-family: var(--fonte-comfortaa);
}

footer .logo-justificada-container img{
    max-width: 110px;
}

footer .redes-sociais-container {
    /* background-color: pink; */
    text-align: center;
}

.redes-sociais img {
    margin: 20px 10px;
}

.redes-sociais a img {
    width: 25px;
}

.btn-e-dev-container .btn-topo {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    gap: 4px;

    box-shadow: 2px 2px 4px rgb(37, 66, 97);
    background: var(--cor-azul-claro);
    color: var(--cor-azul-escuro);
    font-family: var(--fonte-montserrat);
    font-weight: 600;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-topo a {
    /* top: 10px; */
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.btn-e-dev-container img {
    max-width: 18px
}

@media (max-width: 1224px) {
    .logo-justificada-container img{
        width: 110px;
    }
    .redes-sociais a img{
        max-width: 25px;
    }
    .redes-sociais-container p{
        font-size: 10px;
    }
    .btn-topo{
        padding: 6px !important;
    }
    .btn-topo a{
        font-size: 1rem !important;
        padding-bottom: 1px !important;
    }
    .btn-e-dev-container a{
        font-size: 11px;
    }
}

@media (max-width: 991px) {
footer{
        flex-direction: column;
        gap: 2.5rem !important;
        height: 325px !important;
    }
    
    footer .redes-sociais a img{
        max-width: 20px !important;
    }
    footer .redes-sociais-container p, .btn-e-dev-container .dev{
        font-size: 1rem;
    }
    .logo-justificada-container img{
        max-width: 100px !important;
    }
    .btn-topo{
        padding: 6px !important;
        border-radius: 5px !important;
    }
    .btn-topo a{
        font-size: 0.9rem !important;
        padding-bottom: 1px !important;
    }
    .btn-topo a img{
        max-width: 10px !important;
    }
    .btn-topo{  
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 625px){
    footer{
        flex-direction: column;
        gap: 2.5rem !important;
        height: 400px;
    }
    
    footer .redes-sociais a img{
        max-width: 20px !important;
    }
    footer .redes-sociais-container p, .btn-e-dev-container .dev{
        font-size: 1rem;
    }
    .logo-justificada-container img{
        max-width: 100px !important;
    }
    .btn-topo{
        padding: 6px !important;
        border-radius: 5px !important;
    }
    .btn-topo a{
        font-size: 0.9rem !important;
        padding-bottom: 1px !important;
    }
    .btn-topo a img{
        max-width: 10px !important;
    }
    .btn-topo{  
        left: 50%;
        transform: translateX(-50%);
    }
}

