@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body a {
    color: inherit;
    text-decoration: none;
}

:root {
    --cor-azul-escuro: #001730;
    --cor-azul-claro: #6B9BB8;
    --cor-azul-medio: #092c43;
    --cor-azul-dark: #203E50;
    --cor-azul-claro-30: #6b9bb836;
    --cor-azul-claro-hover: #5e98bc40;
    --cor-vermelho: #6F0000;
    --cor-vermelho-30: #6f000038;
    --cor-vermelho-escuro: #3C0000;
    --cor-preto: #000;
    --cor-preto-50: #0000007e;
    --cor-laranja: #FF5C5C;
    --cor-bege: #FFF1D7;
    --cor-fundo-cinza: #4c4c4c48;
    --cor-branco: #fff;
    --fonte-comfortaa: "Comfortaa";
    --fonte-cinzel: "Cinzel";
    --fonte-montserrat: "Montserrat";
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background-color: var(--cor-branco);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--cor-azul-medio);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-azul-medio);


}

html, body {
    /* Define o ponto de partida do documento */
    width: 100%; 
    /* Remove preenchimentos e margens que alguns navegadores adicionam por padrão */
    margin: 0; 
    padding: 0;
    /* O mais importante: Esconde qualquer coisa que ultrapasse a largura do viewport (a tela) */
    overflow-x: hidden; 
}

::selection {
    background-color: var(--cor-azul-claro-30);
    /* Exemplo: um amarelo/laranja vibrante */
    color: var(--cor-bege);
    /* Opcional: define a cor do texto para preto */
}

.displayNone {
    display: none !important;
}

.displayBlock {
    display: block !important;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        /* Começa invisível */
        transform: translateY(20px);
        /* Começa 20 pixels abaixo */
    }

    100% {
        opacity: 1;
        /* Termina totalmente visível */
        transform: translateY(0);
        /* Termina na posição normal */
    }
}

.elemento {
    /* 1. Define a animação a ser usada, duração e função de tempo */
    animation-name: aparecer;
    animation-duration: 0.5s;
    /* O elemento levará 0.5 segundos para aparecer */
    animation-timing-function: ease-out;
    /* Começa rápido e desacelera */

    /* 2. MUITO IMPORTANTE: Garante que os estilos do 100% (totalmente visível)
        sejam mantidos APÓS o término da animação. */
    animation-fill-mode: forwards;

    /* 3. Define o estado inicial: o elemento DEVE estar invisível (opacidade 0)
        ANTES da animação começar. Se você não fizer isso, ele aparece
        imediatamente e a animação começa do nada. */
    opacity: 0;
}

button{
    background: transparent;
    border: none;
}