@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --cor-azul-escuro: #001730;
    --cor-azul-claro: #6B9BB8;
    --cor-vermelho: #6F0000;   
    --cor-laranja: #FF6600;
    --cor-bege: #FFF1D7; 
    --cor-fundo-cinza: #3b3b3b81;
    --fonte-comfortaa: "Comfortaa";
    --fonte-cinzel: "Cinzel";
    --fonte-montserrat: "Montserrat";
} 