@import url(global/globalStyles.css);
@import url(global/header.css);
@import url(global/linkBtn.css);
@import url(global/header-tablet.css);
@import url(global/footer.css);
@import url(pages/home/modalLoginAndRegister.css);
@import url(pages/home/banner.css);
@import url(pages/home/solucoes.css);
@import url(pages/home/cv-ia.css);
@import url(pages/home/responsivenessForHome/greaterThan1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-991.css);
@import url(pages/home/responsivenessForHome/maxWidth-625.css);
@import url(pages/home/responsivenessForHome/maxWidth-400.css);
@import url(pages/quemSomos/quemSomosSection.css);
@import url(pages/quemSomos/accordionSection.css);
@import url(pages/quemSomos/encerrando.css);
@import url(pages/quemSomos/responsives/responsives.css);
@import url(pages/recrutamento/sobreSolucao.css);
@import url(pages/recrutamento/encerrando-solucao.css);
@import url(pages/contato/contato.css);

.fundo-cadastro{
    position: relative;
    background-color: black;
    width: 100%;
    min-height: 500px;
    background: url(../img/banner-contatos.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* min-height: 800px; */
    color: var(--cor-bege);
    font-family: var(--fonte-comfortaa);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.form-cadastro form{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 2px solid var(--cor-azul-medio);
    width: fit-content;
}

.form-cadastro .titulo-form{
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0;
}

.form-cadastro .nomes-email-container{
    background-color: rgba(94, 94, 94, 0.041);
}
