@import url(global/globalStyles.css);
@import url(global/header.css);
@import url(global/linkBtn.css);
@import url(global/header-tablet.css);
@import url(global/footer.css);
@import url(pages/home/modalLoginAndRegister.css);
@import url(pages/home/banner.css);
@import url(pages/home/solucoes.css);
@import url(pages/home/cv-ia.css);
@import url(pages/home/responsivenessForHome/greaterThan1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-991.css);
@import url(pages/home/responsivenessForHome/maxWidth-625.css);
@import url(pages/home/responsivenessForHome/maxWidth-400.css);
@import url(pages/quemSomos/quemSomosSection.css);
@import url(pages/quemSomos/accordionSection.css);
@import url(pages/quemSomos/encerrando.css);
@import url(pages/quemSomos/responsives/responsives.css);
@import url(pages/recrutamento/sobreSolucao.css);
@import url(pages/recrutamento/encerrando-solucao.css);
@import url(pages/contato/contato.css);
@import url(pages/cadastro/cadastro.css);

.modal-msg-ferramenta{
    position: fixed;
    top: 100px;
    margin: 0 auto;
    border: none;
    background-color: var(--cor-bege);
    z-index: 999;
    border-radius: 10px;
}

.modal-msg-ferramenta .container{
    position: relative;
    /* background-color: pink; */
    padding: 0 10px;
    text-align: right;
    margin: 0 !important;
    --bs-gutter-x: 0rem;
}

.modal-msg-ferramenta img{
    max-width: 25px;
    text-align: right;
    margin: 5px 5px;
    /* position: absolute; */
    /* right: 10px; */
    /* top: 0px; */
}
 
.modal-msg-ferramenta h1{
    /* padding: 0 10px; */
    font-size: 1.5rem !important;
} 

.timer-container{
    /* background-color: var(--cor-vermelho); */
    width: 100%;
    height: 8px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.timer-progress {
    height: 8px;
    background-color: var(--cor-vermelho); /* escolha sua cor */
    width: 100%; /* Começa cheia */
    border-radius: 20px;
}

/* Criando a animação */
@keyframes diminuir {
    from { 
        width: 100%; 
    }
    to { 
        width: 0%; 
    }
}

/* Esta classe será adicionada via JS quando o modal abrir */
.animar-timer {
    
    animation: diminuir 5s linear forwards; 
}