@import url(global/globalStyles.css);
@import url(global/header.css);
@import url(global/linkBtn.css);
@import url(global/header-tablet.css);
@import url(global/footer.css);
@import url(pages/home/modalLoginAndRegister.css);
@import url(pages/home/banner.css);
@import url(pages/home/solucoes.css);
@import url(pages/home/cv-ia.css);
@import url(pages/home/responsivenessForHome/greaterThan1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-991.css);
@import url(pages/home/responsivenessForHome/maxWidth-625.css);
@import url(pages/home/responsivenessForHome/maxWidth-400.css);
@import url(pages/quemSomos/quemSomosSection.css);
@import url(pages/quemSomos/accordionSection.css);
@import url(pages/quemSomos/encerrando.css);
@import url(pages/quemSomos/responsives/responsives.css);
@import url(pages/recrutamento/sobreSolucao.css);
@import url(pages/recrutamento/encerrando-solucao.css);
/* 
#main-contatos{
    position: absolute;
} */

.fundo-contatos{
    background: url(../img/banner-contatos.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* min-height: 800px; */
    color: var(--cor-bege);
    font-family: var(--fonte-comfortaa);
}

.teste{
    color: var(--cor-bege);
}

.contato-fale-conosco-container{
    display: flex;
}

.fale-conosco-container{
    position: relative;
    /* background-color: rgba(133, 198, 198, 0.271); */
    width: 55%;
    padding: 6rem 0;
}

.contato-container{
    position: relative;
    width: 45%;
    padding: 6rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.fale-conosco-container{
    padding-left: 10rem;
}

.titulo-contato, .titulo-fale-conosco{
    text-align: center;
    font-weight: 200;
    font-size: 3.5rem;
}

.titulo-fale-conosco{
    font-size: 3rem;
}

.contato-container .p-contato{
    text-align: center;
    font-family: var(--fonte-montserrat);
    font-weight: 600;
    font-size: 1.25rem;
}


.contato-container .form-contato{
    /* background-color: rgba(240, 128, 128, 0.071); */
    display: flex;
    flex-direction: column;
    width: 26%;
}

.form-contato label{
    font-size: 1.5rem;
    font-family: var(--fonte-cinzel);
    
}

.form-contato input, .form-contato .msg{
    margin-bottom: 25px;
    border-radius: 2.5px;
    border: none;
    padding: 4px;
    font-weight: 800;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
}

 input:focus, .msg{
    outline: none;
    border: none;
    font-weight: 800;

}

input:focus{
    width: 250px;
    transition: all 1s;
}

.contato-container .form-contato input::placeholder{
    font-weight: 800;
}

.form-contato .btn-enviar{
    position: relative;
    font-family: var(--fonte-cinzel);
    color: var(--cor-bege);
    background-color: var(--cor-azul-escuro-30);
    border: 2px solid;
    border-color: var(--cor-azul-claro);
    border-radius: 7px;
    font-size: 1.3rem;
    width: 70%;
    padding: 5px;
    align-self: center;
    transition: 1s all;
    .cursor-btn{
        transform: rotate(0deg);
        transition: all 1s ease;
    }
    .icon{
        opacity: 0;
        transform: rotate(-90deg);
        transition: all 1s ease;
    }
}

/* .form-contato .btn-enviar .icon{
    padding: 3px;
} */

.form-contato .btn-enviar .cursor-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    max-width: 20px;
    background-color: var(--cor-azul-dark);
    padding: 4px;
    border-radius: 50%;
}

.form-contato .btn-enviar:hover{
    width: 100%;
    .cursor-btn{
        transform: rotate(360deg);
    }
    .icon{
        opacity: 1;
        transform: rotate(360deg);
    }
}

.fale-conosco-container .container{
    /* background-color: rgba(0, 255, 255, 0.042); */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0 !important;
    min-height: 250px;
}
/* 
.fale-conosco-container .container .cima{
    background-color: pink;
} */

.fale-conosco-container .titulo-fale-conosco{
    text-align: left;
    margin-bottom: 30px;
}

.zap-container{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.fale-conosco-container .p-contato{
    font-size: 1.2rem;
    text-align: left;
    background-color: var(--cor-azul-escuro-30);
    border: 2px solid var(--cor-azul-claro);
    padding: 8px;
    width: fit-content;
    border-radius: 10px;
}

.fale-conosco-container .link-btn {
    background-color: var(--cor-vermelho-30);
    color: var(--cor-bege);
    border-color: var(--cor-vermelho);
    box-shadow: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 1rem;
}

.fale-conosco-container .link-btn .cursor-btn {
    background-color: var(--cor-vermelho);
    padding: 3px;
    max-width: 18px;
    rotate: -80deg;
    top: 5px;
    right: 5px;
}

.fale-conosco-container .link-btn:hover .cursor-btn {
    rotate: 0deg;
}


.link-btn .icon {
    margin-left: 20px;
}
.zap-container{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    width: fit-content;
}

.zap{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.zap img{
    max-width: 25px;
    max-height: 20px;
}

.zap p{
    margin-bottom: 0;
}

.btn-converse{
    color: var(--cor-bege);
    background-color: var(--cor-azul-escuro-30);
    border: 2px solid var(--cor-azul-claro);
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 10px;
    img{
        max-width: 20px;
        transform: rotate(90deg);
        margin: 0 5px;
        transition: transform 0.3s ease;
    }
}

.fale-conosco-container .anima-btn.ativado{
        transform: rotate(-90deg) !important;
}

.fale-conosco-container .baixo{
    /* background-color: rgba(0, 128, 0, 0.072); */
}

.fale-conosco-container .baixo .texto-escondido {
    background-color: var(--cor-preto);
    width: 85%;
    font-size: 0.9rem;
    padding: 0 5px; /* Reduzi o padding vertical para 0 quando fechado */
    border-radius: 10px;
    margin-top: 0;   /* Margin 0 para não ocupar espaço fechado */
    
    /* O SEGREDO ESTÁ AQUI */
    opacity: 0;
    max-height: 0;      /* Força a altura a ser zero */
    overflow: hidden;   /* Esconde o texto que "sobrar" da altura zero */
    visibility: hidden; /* Garante que o elemento não seja clicável/focado */
    transform: translateY(-10px);
    transition: 0.5s all ease-in-out;
}

.fale-conosco-container .texto-escondido.ativo {
    opacity: 1;
    max-height: 200px;  /* Um valor maior que o seu conteúdo */
    visibility: visible;
    margin-top: 9px;
    padding: 5px;
    transform: translateY(0px);
}

.fale-conosco-container .email-container{
    display: flex;
    align-items: center;
    /* background-color: rgba(0, 255, 255, 0.036); */
    width: fit-content;
}

.fale-conosco-container .email-container p{
    margin-top: 5px;
    margin-left: 4rem;
    /* background-color: aquamarine; */
    img{
        max-width: 20px;
    }
}

@media(min-width: 992px) and (max-width: 1999.98px){
    .contato-container{
        width: 37%;
        padding: 6rem 0;
    }
    .fale-conosco-container{
        width: 63%;
        padding: 6rem 0;
        padding-left: 13rem;
    }
    .contato-container form{
        width: 100%;
    }
    .contato-container .form-contato{
        width: 48%;
    }
    .fale-conosco-container .container{
        min-height: 300px;
    }    
    .fale-conosco-container .email-container p{
        margin-left: 3rem;
    }
}