@import url(global/globalStyles.css);
@import url(global/header.css);
@import url(global/linkBtn.css);
@import url(global/header-tablet.css);
@import url(global/footer.css);
@import url(pages/home/modalLoginAndRegister.css);
@import url(pages/home/banner.css);
@import url(pages/home/solucoes.css);
@import url(pages/home/cv-ia.css);
@import url(pages/home/responsivenessForHome/greaterThan1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-991.css);
@import url(pages/home/responsivenessForHome/maxWidth-625.css);
@import url(pages/home/responsivenessForHome/maxWidth-400.css);

/* =========================================  SECTION SOLUCOES ========================================= */









/* MEDIA QUERIE PARA OS CARROSEIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* #carrosel-tablet{
    display: block;
}
 */

