@import url(global/globalStyles.css);
@import url(global/header.css);
@import url(global/linkBtn.css);
@import url(global/header-tablet.css);
@import url(global/footer.css);
@import url(pages/home/modalLoginAndRegister.css);
@import url(pages/home/banner.css);
@import url(pages/home/solucoes.css);
@import url(pages/home/cv-ia.css);
@import url(pages/home/responsivenessForHome/greaterThan1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-1024.css);
@import url(pages/home/responsivenessForHome/maxWidth-991.css);
@import url(pages/home/responsivenessForHome/maxWidth-625.css);
@import url(pages/home/responsivenessForHome/maxWidth-400.css);
@import url(pages/quemSomos/quemSomosSection.css);
@import url(pages/quemSomos/accordionSection.css);
@import url(pages/quemSomos/encerrando.css);
@import url(pages/quemSomos/responsives/responsives.css);

.sobreSolucao{
    background: url(../img/banner-recrutamento-seleção.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    color: var(--cor-bege);
    font-family: var(--fonte-montserrat);
    position: relative;
}

.sobreSolucao .limitador{
    width: 75%;
    transition: all 0.5s;
}


.sobreSolucao .limitador-btn-voltar.is-active{
    .btn-voltar{
        transform: translateX(-20px);
        transition: all 0.2s;
        img{
            transform: translateX(20px);
            transition: all 0.2s;
        }
    }
    .sobreSolucao .limitador-titulo-p{
        width: 90% !important;
        transition: all 0.2s;
    }
}

.sobreSolucao .btn-voltar{
    display: inline-block;
    color: var(--cor-bege);
    font-weight: 600;
    font-size: 1.7rem;
    margin: 30px 0;
}

/* .sobreSolucao .btn-voltar:active{
    
} */

.sobreSolucao .btn-voltar img{
    rotate: 180deg;
    max-width: 50px;
}

.padding-left-container{
    padding-left: 15px;
}

.titulo-solucao{
    font-weight: 600;
}

.p-solucao{
    font-size: 1.5rem;
    font-style: italic;
    width: 60%;
    font-weight: 500;
}