
.modal-msg-ferramenta{
    position: fixed;
    top: 100px;
    margin: 0 auto;
    border: none;
    background-color: var(--cor-bege);
    z-index: 999;
    border-radius: 10px;
}

.modal-msg-ferramenta .container{
    position: relative;
    /* background-color: pink; */
    padding: 0 10px;
    text-align: right;
    margin: 0 !important;
    --bs-gutter-x: 0rem;
}

.modal-msg-ferramenta img{
    max-width: 25px;
    text-align: right;
    margin: 5px 5px;
    /* position: absolute; */
    /* right: 10px; */
    /* top: 0px; */
}
 
.modal-msg-ferramenta h1{
    /* padding: 0 10px; */
    font-size: 1.5rem !important;
} 

.timer-container{
    /* background-color: var(--cor-vermelho); */
    width: 100%;
    height: 8px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.timer-progress {
    height: 8px;
    background-color: var(--cor-vermelho); /* escolha sua cor */
    width: 100%; /* Começa cheia */
    border-radius: 20px;
}

/* Criando a animação */
@keyframes diminuir {
    from { 
        width: 100%; 
    }
    to { 
        width: 0%; 
    }
}

/* Esta classe será adicionada via JS quando o modal abrir */
.animar-timer {
    
    animation: diminuir 5s linear forwards; 
}

.section-banner {
    background-image: url('../../../img/banner.jpg');
    color: var(--cor-bege);
    font-family: var(--fonte-comfortaa);
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
}

.texto-banner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.texto-banner .frase-banner {
    font-size: 2.2rem;
}

.texto-banner .link-btn {
    position: absolute;
    right: 0;
    top: 110px;
    font-weight: 600;
    font-family: var(--fonte-montserrat);
}
