@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --cor-azul-escuro: #001730;
    --cor-azul-claro: #6B9BB8;
    --cor-vermelho: #6F0000;   
    --cor-laranja: #FF6600;
    --cor-bege: #FFF1D7; 
    --cor-fundo-cinza: #3b3b3b81;
    --fonte-comfortaa: "Comfortaa";
    --fonte-cinzel: "Cinzel";
    --fonte-montserrat: "Montserrat";
} 

.cabecalho {
    background-color: var(--cor-azul-escuro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
}

.cabecalho .img-logo{
    width: 130px;
}
/* 
.cabecalho nav{
    background-color: #6B9BB8;
} */

.cabecalho nav ul{
    display: flex;
    align-items: center;
    gap: 7rem;
   
}

.cabecalho nav ul li a{
    color: var(--cor-bege);
    font-family: var(--fonte-cinzel);
    font-size: 1.1rem;
    /* background-color: pink; */
    /* padding: 20px; */
}

.cabecalho nav ul span{
    position: relative;
    font-size: 1.8rem;
    color: var(--cor-bege);
    /* background-color: #6B9BB8; */
    bottom: 3px;
}

.cabecalho nav ul .login-cadastrar{
    display: flex;
    align-items: center;
    /* background-color: #6F0000; */
    gap: 10px;
}